<a href="https://colab.research.google.com/github/Akarsher/Akarsher/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print ("hello world")

hello world

In [15]:
ones = np.ones((2,3,3))
print(ones)

print(ones.shape)
print(ones.ndim)
print(ones.dtype)
print(ones.size)

[[[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]]
(2, 3, 3)
3
float64
18

In [16]:
array = np.linspace(1,25,4)
array

array([ 1.,  9., 17., 25.])

In [11]:
import pandas as pd
import numpy as np

In [7]:
data = {'Name' :['akarsh','akhil','adwaith','adithya','allen'],
        'Age' :[21,22,20,22,23],
        'Course' :['B.Tech','M.Tech','Bsc-CS','MCA','BCA']}
df = pd.DataFrame(data)
print(df)

      Name  Age  Course
0   akarsh   21  B.Tech
1    akhil   22  M.Tech
2  adwaith   20  Bsc-CS
3  adithya   22     MCA
4    allen   23     BCA

In [10]:
df.to_csv('data.csv',index=False)